%% -*- erlang -*-

{port_sources, ["c_src/*.cpp"]}.
{so_name, "kyte_nifs.so"}.

{port_envs, [
             %% Make sure to link -lstdc++
             {"CXXFLAGS", "$CXXFLAGS -I/opt/kyoto/include"},
             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lstdc++"},
             {"LDFLAGS", "$LDFLAGS /opt/kyoto/lib/libkyotocabinet.a"}
            ]}.

{ erl_first_files, [ ] }.
{ cover_enabled, true }.
{ erl_opts, [ debug_info ] }.
{ sub_dirs, [ "rel"] }.
{ deps_dir, [ ".." ] }.
{ deps, [
         % { gproc,	"0.*",	{ git, "https://github.com/uwiger/gproc.git", "HEAD"} },
         % { log4erl,	"0.*",	{ git, "git://github.com/ahmednawras/log4erl.git", "HEAD"} },
         % { cowboy,	".*",	{ git, "https://github.com/extend/cowboy.git", "HEAD" } }
        ]}.



